<table class="table table-striped">
    <thead>
        <tr>
            <th>Z</th>
            <th>R calculado</th>
            <th>Rsigma</th>
        </td>
    </thead>
    <tbody>
        {% for i in range(0,response_factors_final['Z']|length) %} 
            <tr>
                <td>{{  response_factors_final['Z'][i]|int }} </td>
                <td>{{  "%.2E" % response_factors_final['Y'][i] }} </td>
                <td>{{  "%.2E" % response_factors_final['Yerror'][i] }} </td>
            </tr>
        {% endfor %}
    </tbody>
</table>