{% extends 'base.html' %}

{% block title %}{{ super() }} - EDX Calibration {% endblock %}

{% block body %}
<div class="row">
    <div class="col-xs-12 col-md-8">
    <br />
     <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.description(size=20) }}
        <button type="submit" class="btn btn-success" name="init_type" value="empty"> Nova calibração vazia </button>
        <button type="submit" class="btn btn-success" name="init_type" value="example"> Nova calibração com dados de exemplo </button>
    </form>

    </div>
</div>
{% endblock %}

