{% extends 'base.html' %}

{% block title %}{{ super() }} - show {% endblock %}

{% block body %}

<div class="row">
    <div class="col-xs-6 col-md-6">
        <br>
        <ul>
            <li>id: {{ calibration.id }} </li>
            <li>description: {{ calibration.description}} </li>
            <li>user: {{ calibration.user_id}} </li>
        </ul>
      
        <form method="POST" enctype="multipart/form-data">

            {{ form.csrf_token }}

            <div class="well">
                <label> <b>csv file from EDX</b></label>
                {{ form.csv_file }} 
            </div>
            
            <div class="well">
                <label><b> txt file from WinQxas </b></label>
                {{ form.txt_file }}
            </div>

            <div class="well">
                <label> <b>Código Micromatter que esse txt e csv se referem: </b></label>
                 {{ form.standard_target }}
            </div>
            <br>

            <button type="submit" class="btn btn-primary"> Send </button>

        </form>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Micromatter</th>
                    <th>Line</th>
                    <th>Z: R +- error</th>
                    <th>Actions</th>
                </td>
            </thead>
            <tbody>
                {% for i in uploads %} 
                    <tr>
                        <td><a href="/calibration_files/{{i.id}}"> {{ i.standard_target }} </a></td>
                        <td> Not implemented </td>
                        <td> {#
                        {% for element in elements[i.micromatter_id] %}
                            {{ element }}: {{ ResponseFactors[i.micromatter_id][element] }} <br>
                        {% endfor %} #}
                        </td>
                        <td>
                            <a href="/calibration_files/{{i.id}}/delete"><i class="fas fa-trash-alt"></i></a>
                        </td>
          
                    </tr>
                {% endfor %}
            </tbody>
    </table>
    </div>

    <div class="col-xs-6 col-md-6">
        <img src="/plot/{{ calibration.id }}"> 
    </div>
</div>

{% endblock %}
