{% extends 'base.html' %}

{% block title %}{{ super() }} - show {% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm">
        <br>
        <div class="card">
            <div class="card-header"><b>Enviar arquivos para compor a calibração: {{ calibration.description}}</b></div>
            <div class="card-body">
                {% include 'calibration/upload_form.html' %}
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header"><b>Arquivos Enviados:</b></div>
            <div class="card-body">
                {% include 'calibration_files/table.html' %}
            </div>
        </div>
    </div>
</div>

<br><br>

<div class="row">

    <div class="col-xs-6 col-md-6">
        {% include 'calibration/final_factors_table.html' %}

    </div>

    <div class="col-xs-6 col-md-6">
        <img class="col-md-12" src="/plot/{{ calibration.id }}"> 
    </div>
</div>
{% endblock %}
